.home-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 60%;

  &__wrap {
    padding: 60px;
    background: #94d1d9;
  }

  p {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter",
      "Lucida Typewriter", monospace;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 16px;
    -webkit-font-smoothing: antialiased;
    white-space: pre-line;
    color: #282828;
    font-style: normal;
    font-variant: normal;
    font-weight: 600;
  }

  h1 {
    font-size: 120px;
    font-weight: 800;
    font-family: CoreSansG-Black;
    display: block;
    z-index: 9;
    position: absolute;
    top: -105px;
    padding-left: 4px;
    color: #242525;
    text-decoration: uppercase;
    font-family: "Inter UI,Source Sans Pro,Helvetica Neue,Arial,sans-serif";
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.social {
  font-weight: "300";
  color: #232323;

  h3 {
    font-size: 18px;
    display: inline-block;
  }
  a {
    font-size: 20px;
    color: #232323;
    padding: 0 10px;
  }
}

@media only screen and (max-width: 600px) {
  .home-info {
    width: 100%;
    padding: 0 20px;

    top: 0%;
    left: 0%;
    -webkit-transform: none;
    transform: translateX(0%) translateY(20%);
    margin-bottom: 20%;

    h1 {
      font-size: 90px;
      font-weight: 800;
      position: absolute;
      top: -78px;
    }
    &__wrap {
      padding: 60px 10px;
      background: #94d1d9;
    }
  }
}
