.input {
  font-size: 16px;
  outline: 0;
  padding: 10px 40px 10px 15px;
  margin: 0;
  width: 70%;
  color: #545e6f;
  background: rgb(253, 252, 252);
  flex-grow: 1;
  border: 1px solid #d1deeb;
  transition: all 0.2s ease-in-out;
  border-radius: 3px;
  margin-bottom: 20px;
}

.error {
  border: 1px solid red;
  background-color: #fda49a;
}
